name: CI (C + Python)

on:
  push:
  pull_request:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  c:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Build C
        run: gcc -Wall -Wextra -Werror main.c -o app

      - name: Run C
        run: ./app

  python:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Run Python
        run: python main.py
