name: CI (C + C++ + Python + Java)

on:
  pull_request:
    branches: [ "main" ]
  push:
    branches: [ "main" ]
  workflow_dispatch:

permissions:
  contents: read

jobs:
  c:
    name: C (build & run)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Build C
        run: gcc -Wall -Wextra -Werror main.c -o app_c
      - name: Run C
        run: ./app_c

  cpp:
    name: C++ (build & run)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Build C++
        run: g++ -Wall -Wextra -Werror main.cpp -o app_cpp
      - name: Run C++
        run: ./app_cpp

  python:
    name: Python (run)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"
      - name: Run Python
        run: python main.py

  java:
    name: Java (compile & run)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: "17"
      - name: Compile Java
        run: javac Main.java
      - name: Run Java
        run: java Main
